<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="{{url_for('index')}}">Início</a></li>
                <li><a href="{{url_for('login')}}">Login</a></li>
                <li><a href="{{url_for('register')}}">Cadastro</a></li>
                <li><a href="{{url_for('dash')}}">Dashboard</a></li>
            </ul>
            <div class="burger-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </nav>
        <div class ="conteudo">

            {% block content %}
                <h1> Olá, oi iuri. ta tudo bem c vcê?
                </h1>
                <li><a href="{{url_for('login')}}">Venha fazer seu login aqui</a></li>

            {% endblock %}
        </div>
      
</body>
</html>